#divOne{
    height: 200px;
    width: 200px;
    /* background-color: green; */
    border: 1px solid red;
}
#divTwo{
    height: 200px;
    width: 200px;
    /* background-color: green; */
    border: 1px solid red;
}